* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Taviraj', serif; */
}

.container {
  width: 100%;
  height: 100vh;
  padding: 20px 40px;
}

.top {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: calc(100vh - 240px);
  margin-bottom: 10px;
}

.left {
  width: 60%;
  padding: 20px;
}

.left>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.right {
  width: 40%;
  padding: 20px;
  height: 100%;
}

.right>h1 {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 110%;
}

.right>p {
  font-size: 18px;
  line-height: 130%;
  overflow: auto;
  height: 70%;
}

.bottom {
  height: 180px;
  display: flex;
  gap: 20px;
}

.bottom-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 60%;
  padding: 20px;
}

.bottom-left>img {
  width: 16%;
  height: 120px;
  object-fit: cover;
  border-radius: 20px;
  filter: grayscale(100%);
  cursor: pointer;
}

.left-arrow,
.right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.right-arrow>img {
  transform: scale(-1);
}

.left-arrow>img,
.right-arrow>img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.bottom-right {
  width: 40%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button {
  width: 70px;
  height: 70px;
  background-color: rgb(9, 191, 191);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.play-button>img {
  width: 30px;
  filter: invert(1);
}

.active {
  filter: none !important;
}